openapi: 3.1.0
info:
  title: Entertainment Backlog API (Service to Service)
  version: v1.0.0
servers:
  - url: http://localhost:8000
    description: Local development server
tags:
  - name: Health
    description: Server status endpoint
  - name: Authorization
    description: Endpoints related to authorization
  - name: Entries
    description: Endpoints related to main functionality of the API. Authorization required.

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: JWT Authorization header using the bearer scheme. Example "Bearer {token}"
    refreshToken:
      type: apiKey
      in: header
      name: x-refreshToken
      description: Refresh token for obtaining new access tokens.
  schemas:
    entryResponse:
      type: object
      properties:
        id:
          type: string
          example: entry-123
        userId:
          type: string
          example: test-user-001
        type:
          type: string
          enum: [movie, series, game]
          example: movie
        title:
          type: string
          example: Test movie
        status:
          type: string
          enum: [planned, watching, completed, dropped]
          example: planned
        rating:
          type: number
          minimum: 1
          maximum: 10
          nullable: true
          example: 6
        notes:
          type: string
          nullable: true
          example: Can be left empty
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - userId
        - type
        - title
        - status

    MovieCreate:
      title: Movie entry
